body{
    box-sizing: border-box;
}
.header{
    padding: 20px;
    border-bottom: 2px solid red;
}
.footer{
    background-color: lightcoral;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid green;
    height: 80px;
}